
body {
  background: -webkit-linear-gradient(top, #ffccff 0%, #ffffff 100%); 
  font-family: 'Arial', sans-serif; 

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

}

.title {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Arial Black', sans-serif;
  color: white;
  text-shadow: grey 5px 5px 5px;
  background-color: pink;
  padding: 50px 60px;
  border-radius: 10px 10px 0 0;
  letter-spacing: 20px;
  text-align: center;
  width: 530px;
  box-shadow: 5px 5px 10px grey;
  
}

.card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: pink;
  width: 600px;
  height: 700px;
  padding: 25px;
  gap: 10px;
  border-radius: 0 0 10px 10px;
  box-shadow: 5px 5px 5px grey;

}

.card div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid #ff80ab;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.card :hover {
  background-color: #e086c2;
  cursor: pointer;
  transform: scale(1.08);
  transition: transform 0.3s;

}
