body{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header{
    text-align: center;
    margin-bottom: 40px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}


