.container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: pink;
    height: 300px;

}

.container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    
}


.grid-item-1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

}


.grid-item-2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

}


.grid-item-3 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;

}


.grid-item-5 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;

}