.card{
    border: 5px solid #ff0000;
    border-radius: 15px;
    background-color: #ffafcc;
    text-align: center;
    padding: 20px;
    width: 300px;
    height: 200px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}