.card{
    border: 5px solid #ff2929;
    border-radius: 10px;
    background-color: #f0f3df;
    width: 400px;
    height: px;
    justify-content: center;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    text-align: left;
}

.fox{
    width: 300px;
    height: 200px;
    border: 5px solid rgb(177, 135, 21);
    margin : 10px ;
}


.paragraph {
    width: 310px;
    height: 200px;
    overflow: scroll;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    border-style: dashed;
    border-color: rgb(177, 135, 21);
    background-color: #ffe600;
    margin : 10px ;
}