a.link{
    color: blue;
    text-decoration: none;
}


a.visited{
    color: pink;
}

a:hover{
    color: purple;
}

a:active{
    color: rgb(0, 0, 0);
}

a.button1{
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: grey 2px 2px 5px;
}

a.button1:hover{
    background-color: orange;
    transform: scale(1.1);
    box-shadow: 2px 2px 5px grey;
}

